.log-timestamp {
  margin-bottom: 10px;
}
.log-view {
    background-color: #D9DBDC;
    padding: 12px 12px 0;
  .log-filter {
    padding-bottom: 10px;
    .form-group {
      margin-bottom: 0;
    }
  }
  .log-view-output {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
  }
}

.log-line.even {
  background-color: #fff;
}
.log-line.odd {
  background-color: #F9F9F9;
}
