.log-title {
  margin-top: 0;
}
.log-timestamp {
  margin-bottom: 10px;
}
.log-view {
  background-color: #042029;
  margin: 10px 0;
  padding: 0px 10px 0;
  position: relative;
  pre, pre code {
    background-color: transparent;
    border: 0;
    color: #98C1C8;
    margin-bottom: 0;
    padding: 0 6px;
  } 
  .log-scroll {
    color: #fff;
    position: absolute;
    right: 10px;
    top: 3px;
  }
  .log-view-output {
    font-size: 12px;
  }
}

.log-line.even {
  background-color: #fff;
}
.log-line.odd {
  background-color: #F9F9F9;
}
