<div class="spinner" ng-show="!ready"></div>

<div ng-show="ready">
  <a id="#LogTop"></a>
  <div class="log-view">
    <div class="log-scroll">
      <a
        href="#LogBottom"
        data-spy="affix"
        data-offset-top="60"
        data-offset-bottom="200">Go to end of log</a>
    </div>
    <div layout flex column class="log-view-output">
      <div
        layout row
        class="log-line"
        ng-repeat="logLine in logList  | filter:logSearch"
        ng-class-odd="'odd'"
        ng-class-even="'even'">

        <a
          class="line-number"
          ng-click="scrollTo('line_'+$index)">
          {{:: $index+1 }}. &nbsp;&nbsp;
        </a>
        <span flex>
        {{::logLine.text}}
        </span>

        <a
          name="line_{{$index}}"
          id="line_{{$index}}"></a>
      </div>
    </div>
    <div layout flex column cross-axis="end">
      <a href="#LogTop">Go to start of log</a>
    </div>
  </div>
  <a id="#LogBottom"></a>
</div>
