<style>
/* TODO:
  - Swiped from patterfly dropdown.less...
  - Fix these styles properly to go with the extensions
    - works here for quick hacking,
    - final resting place will be in:
      - assets/extensions/examples/online-extensions.css
*/
.nested-menu {
  margin-left: 0px;
  padding-left: 0px;
}
.nested-menu li {
  display: list-item;
  list-style-type: none;
}
.nested-menu li a {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  padding: 1px 10px;
  /* hmm.... */å
  display: block;
  padding: 3px 20 3px 0px;
  clear: both;
  font-weight: normal;
  line-height: 1.66666667;
  color: #333333;
  white-space: nowrap;
}
</style>

<ul class="nav navbar-nav navbar-right navbar-iconic">
  <li
    extension-point
    extension-name="nav-system-status"
    extension-types="dom"
    style="padding: 21px 14px;"></li><!-- TODO: rip out inline styles!! -->

  <li uib-dropdown>
    <a uib-dropdown-toggle class="nav-item-iconic" id="dropdownMenu1">
      <span title="Help" class="fa pficon-help" aria-hidden="true"></span>
      <span class="sr-only">Help</span>
      <span class="caret" aria-hidden="true"></span>
    </a>
    <ul
      class="uib-dropdown-menu" aria-labelledby="dropdownMenu1"
      extension-point
      extension-name="nav-help-dropdown"
      extension-types="dom html"><!-- geneated extension points here --></ul>
  </li>

  <li uib-dropdown ng-cloak ng-if="user">
    <a href="" uib-dropdown-toggle id="user-dropdown" class="nav-item-iconic">
      <span class="pf-icon pficon-user" aria-hidden="true"></span>
      <span class="username truncate">{{user.fullName || user.metadata.name}}</span> <span class="caret" aria-hidden="true"></span>
    </a>

    <ul
      class="uib-dropdown-menu"
      aria-labelledby="user-dropdown"
      extension-point
      extension-name="nav-user-dropdown"
      extension-types="dom html"><!-- geneated extension points here --></ul>
  </li>
</ul>
