<div class="spinner" ng-show="pending"></div>

<div class="row" ng-show="ready">
  <div class="col-md-12">
    <div class="log-view">
      <div class="log-filter">
      <!-- filter may not be viable, too many bindings
        <ng-include
          src="'/scripts/projects/logs/views/_log_filter.html'"></ng-include>
      -->
       <a href="bottom">Go to end of log</a>
      </div>
      <div class="log-view-output">
        <ng-include
          src="'/scripts/projects/logs/views/_log_raw.html'"></ng-include>
        <!-- if we enable log filtering, this view will accomodate
        <ng-include
          src="'/scripts/projects/logs/views/_log_formatted.html'"></ng-include>
         -->
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="align-right">
            <a id="#bottom"></a>
            <a href="top">Go to start of log</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
